                                                      body{font-size:12pt;font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;background-color:;margin:0px;background-image:url(background.jpg);background-repeat: repeat;line-height:;width:100%;color:#efebda;direction:;}
p{padding-right: 8px;padding-left: 8px;}
a{color:#ffffff;text-decoration:none;font-family:Helvetica;font-weight:bold;outline:none;border:none;}
a img{border:0;}
.list{color:#e2e3a5;text-decoration:none;font-weight:bold;border-bottom-width: 2px;border-bottom-style: solid;border-bottom-color: ffcc66;font-size: 16pt;}
a:visited{color:#cccccc;text-decoration:none;font-family:Helvetica;font-weight:bold;outline:none;border:none;}
.itemimage{border:solid 0px #aaa;max-width:100px;width: expression(this.width > 100 ? 100: true);vertical-align:middle;}
 .iimage{border:solid 0px #aaa;max-width:320px;width: expression(this.width > 320 ? 320: true);vertical-align:middle;}
h1{font-family:arial;font-size: 18pt;color: #CCCCCC;padding-left: 6px;padding-top: 6px;font-weight: bold;}
h2{font-family:arial;font-size: 12pt;color: #ffffff;}
                                /*webkitcssaddition*/.detailspanel{-webkit-border-top-right-radius:10px;-webkit-border-top-left-radius:10px;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;border:solid 1px #aaa;padding:20px;background-color:#ffffff;}
li > a[selected], li > a:active{background-color: blue !important;    background-repeat: no-repeat !important;    background-position: right center !important;    color: #FFFFFF !important;    background-image: url(listArrowSel.png) !important;}
li > a[selected="progress"]{background-repeat: no-repeat !important;    background-position: right center !important;background-image: url(loading.gif) !important;}
body > .toolbar{    box-sizing: border-box;    -webkit-box-sizing: border-box;    -moz-box-sizing: border-box;    border-bottom: 2px solid #333333;    border-top: 1px solid #000000;    padding: 0 10px 10px 10px;    height: 45px;background-color: #6d84a2;background-image: url(toolbar.png);background-repeat: repeat-x;}
body > div.toolbar{ background-image:url(logo.png), url(toolbar.png); background-position:top right, top left; background-repeat:no-repeat, repeat-x; }
.toolbar > h1{    position: absolute;    overflow: hidden;    left: 50%;    margin: 1px 0 0 -75px;    padding-top: 10px;    height: 45px;    font-size: 20px;    width: 150px;    font-weight: bold;    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;    text-align: center;    text-overflow: ellipsis;    white-space: nowrap;    color: #FFFFFF;}
body > .WebKitPanel{box-sizing: border-box;    -webkit-box-sizing: border-box;    -moz-box-sizing: border-box;    padding: 10px;    }
.WebKitPanel > ul{    position: relative;    margin: 0 0 20px 0;    padding: 0;   background: #FFFFFF;    -webkit-border-radius: 10px;    -moz-border-radius: 10px;    text-align: center;    font-size: 16px;margin:5px 0 15px 0; padding:0; list-style:none; -webkit-border-radius:0; border-width:0; background-color:transparent;}
.WebKitPanel > ul li{    position: relative;    min-height: 42px;    border-bottom: 1px solid #999999;   -webkit-border-radius: 0;    -moz-border-radius: 0;    text-align: right;}
.WebKitPanel > ul li:last-child{    border-bottom: none !important;}
.WebKitPanel > ul > li{ margin:0; padding:0; border-width:0; }
.WebKitPanel > ul > li a{ text-align:left; padding:11px 0 9px 10px; background:url(listArrow.png) center right no-repeat; display:block; text-decoration:none; overflow:hidden; text-overflow:ellipsis; color:#000; font-weight:bold; font-size:17px; }
.WebKitPanel > ul > li a{ margin:0; border:1px solid #aaa; border-bottom-width:0 !important; margin-top:-1px; background-color:#fff; }
.WebKitPanel > ul > li:first-child a{ -webkit-border-top-right-radius:10px; -webkit-border-top-left-radius:10px; }
.WebKitPanel > ul > li:last-child a{ -webkit-border-bottom-right-radius:10px; -webkit-border-bottom-left-radius:10px; border-bottom-width:1px !important; }
.WebKitPanel > ul > li a img{ vertical-align:middle; margin-left:-4px; margin-right:4px;}
    
/*wpstartmenucssaddition*/
.detailspanel
{
	-webkit-border-top-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	border:solid 1px #aaa;
	padding:20px;
	background-color:#ffffff;
}

li > a[selected], li > a:active
{
	background-color: blue !important;    
	background-repeat: no-repeat !important;    
	background-position: right center !important;    
	color: #FFFFFF !important;    
	background-image: url(listArrowSel.png) !important;
}
li > a[selected="progress"]
{
	background-repeat: no-repeat !important;    
	background-position: right center !important;
	background-image: url(loading.gif) !important;
}

body > .wpstartmenuPanel
{
	box-sizing: border-box;    
	-webkit-box-sizing: border-box;    
	-moz-box-sizing: border-box;  
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;  
	padding:5px;
	width: 320px;
	margin: 0 auto;
	-webkit-tap-highlight-color:rgba(0,0,0,0.1);
}

.wpstartmenuList
{    
	position: relative;    
	padding: 0;   
	background: #FFFFFF;     
	text-align: center;    
	font-size: 10px;
	margin:0px 0 15px 0; 
	list-style:none; 
	background-color:transparent;
}

.wpstartmenulargeItem
{    
	position: relative;    
	min-height: 42px;      
	text-align: right;	
	font-family: arial, Helvetica,sans-serif; 
	margin:4px;
	padding:0; 
	background-color: #0050ef;
	width: 138px;
	height: 138px;
	float:left;	
}
	
.wpstartmenulargeItem .wpstartmenuTitle
{
	text-align:left; 
	padding:5px; 
	display:block; 
	text-decoration:none; 
	overflow:hidden; 
	text-overflow:ellipsis;
	font-weight:bold; 
	font-size:10px;
	color:#fff;
	margin:0;
	line-height: 22px;
}

.wpstartmenulargeItem .wpstartmenuImage{ vertical-align:middle; height:95px; width:95px; margin: 10px auto 0; display: block;}

.wpstartmenumediumItem
{    
	position: relative;    
	min-height: 42px;      
	text-align: right;	
	font-family: arial, Helvetica,sans-serif; 
	margin:4px;
	padding:0; 
	background-color: #0050ef;
	width: 138px;
	height: 65px;
	float:left;	
}

.wpstartmenumediumItem .wpstartmenuTitle
{
	text-align:left; 
	padding:5px; 
	display:block; 
	text-decoration:none; 
	overflow:hidden; 
	text-overflow:ellipsis;
	font-weight:bold; 
	font-size:10px;
	color:#fff;
	margin:0;
	line-height: 10px;
}

.wpstartmenumediumItem .wpstartmenuImage{ vertical-align:middle; height:44px; margin: 0 auto; display: block;}

.wpstartmenusmallItem
{    
	position: relative;    
	min-height: 42px;      
	text-align: right;	
	font-family: arial, Helvetica,sans-serif; 
	margin:4px;
	padding:0; 
	background-color: #0050ef;
	width: 65px;
	height: 65px;
	float:left;	
}

.wpstartmenusmallItem .wpstartmenuTitle
{
	text-align:left; 
	padding:5px; 
	display:block; 
	text-decoration:none; 
	overflow:hidden; 
	text-overflow:ellipsis;
	font-weight:bold; 
	font-size:10px;
	color:#fff;
	margin:0;
	line-height: 10px;
}

.wpstartmenusmallItem .wpstartmenuImage{ vertical-align:middle; height:34px; margin: 0 auto; display: block;}
